body{
/* #0075F2*/
background-color: #87BFFF;
color:#222222;
}
/* Links */
a,
a:focus,
a:hover {
  color: #222222;
/*#F1E3F3*/
}
.navbar {
  margin-bottom: 20px;
  margin-top: 5px;
}

.center-bold
{
    text-align: center;
}

.container
{
width:47%;
}

.cc
{
width: 60%;
}
.underline
{
text-decoration: underline;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #222222;
 /*rgba(255, 255, 255, .5);*/
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color:#222222;
 /*rgba(255, 255, 255, .25);*/
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1.5rem;
}
.inner a
{
 margin-left: 1.5rem;
}
.inner
{
justify-content: center;
}

.nav-masthead .active {
  color: #222222;
  border-bottom-color: #222222;
}
