body{
background-color: #87BFFF;
color:#222222;
}
/* UTIL CLASSES */
.active {
border-bottom: .25rem solid #222222;
}
span:hover{
border-bottom: .25rem solid #222222;
}

.center-bold
{
    text-align: center;
}

.container
{
width:47%;
}
.underline
{
text-decoration: underline;
}

/* Links */
a,
a:focus,
a:hover {
  color: #222222;
  text-decoration: none;
}

#profilepic{
width:300px;
height:450px;
}


/* NEW NAVBAR */
.nav-container {
   width: 100%;
 }

 nav {
     max-width: 800px;
     margin: 0 auto;
     margin-top: 10px;
    color:#222222;
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     grid-auto-rows: minmax(50px, auto);
     grid-template-areas: "JD about projects blog github linkedin twitter";
   }
   nav a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  }

   .JD{
       grid-area: JD;
   }
   .about{
       grid-area: about;
   }
   .projects{
       grid-area: projects;
   }
   .github{
       grid-area: github;
   }
   .linkedin{
       grid-area: linkedin;
   }
   .twitter{
       grid-area: twitter;
   }

    /* MEDIA QUERIES */
   @media (min-width: 320px){
         nav{
             grid-template-columns: repeat(3, 1fr);
             grid-template-rows: minmax(50px, auto);
             grid-template-areas: "JD about projects" "github linkedin twitter";
         }
         #profilepic{
            width:200px;
            height:300px;
         }
         .container{
             width: 100%;
         }
    }

    /* MEDIA QUERIES */
   @media (min-width: 768px){
         #profilepic{
            width:230px;
            height:350px;
         }
         .container
         {
         width:60%;
         }

    }

    @media (max-width: 768px){
          #profilepic{
             width:230px;
             height:350px;
          }
          .container
          {
          width:100%;
          }

     }
