@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Chewy&display=swap');

:root {
  --gradient: linear-gradient(to left, #F073A1, #19EEF6);
  --text-color: #EBFFF8;
  --black: #0A0A0A;
}

/* GENERAL SETTINGS */
html{
/* If we do any padding, it won't affect the width of the element*/
box-sizing: border-box;
font-family: 'ABeeZee', sans-serif;
}
body{
     background: var(--black);
     margin: 0px 1.875rem;
     line-height: 1.4;
     color: var(--text-color);
}
h2, h4{
margin: 0;
padding:0;
text-align: center;
}

a{
text-decoration: none;
color: var(--gradient);
}


p{
padding: 0;
font-size: 1.125rem;
margin: auto;
}

#title
{
    /*color: var(--gradient);*/
    font-family: 'Chewy', cursive;
    font-size: 2rem;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* INTRO SECTION */
#intro {
text-align: center;
}
#instructions {
margin: 0 20% 1rem 20%;
}


/* PLAY BEAT AND SET TEMPO SECTION */
#playBeatSetTempo{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-bottom: 2rem;
}

#playBeatSetTempo h4 + h4{
    margin-left: 4rem;
}
#playBeatButton {
background: var(--black);
color: var(--text-color);
border: none;
margin: 0.25rem;
font-size: 1.125rem;
font-family: 'ABeeZee', sans-serif;
}

span{
    border: 0.25rem solid;
    border-image-slice: 1;
    border-image-source:var(--gradient);
    margin-right: 6rem;

}



/*BEAT CONTAINER SECTION */

#beatcontainer {
    display: grid;
    grid-template-columns: 9.2rem repeat(16, 3rem);
/*9.1rem repeat(16, 3rem);*/
    grid-template-areas: "keycol col1 col2 col3 col4 col5 col6 col7 col8 col9 col10 col11 col12 col13 col14 col15 col16";
    grid-gap: 0.625rem;
    justify-content: center;
}

.beatbox {
    width: 2rem;
    height: 2rem;
    background: #EBFFF8;
    margin: 0 0.625rem 0.625rem 0.625rem;
}

.boxSelected{
background: linear-gradient(to left, #F073A1, #19EEF6);
}

.item{
display: flex;
flex-direction: row;

}

.space {
margin-bottom: 0.625rem;
}

.focus {
    border: 0.0625rem solid white;
    border-image-slice: 1;
    border-width: 0.25rem;
    border-image-source:var(--gradient);
}

@media(max-width: 1200px)
{

    #beatcontainer{
    grid-template-columns: 9.1rem repeat(8, 3rem);
    grid-template-areas: "keycol col1 col2 col3 col4 col5 col6 col7 col8"
    ". col9 col10 col11 col12 col13 col14 col15 col16";
    grid-template-rows: 1fr 1fr;
}
}


@media(max-width: 635px)
{
    nav{
    padding-top: 0.2rem;
    text-align: center;
    }
    #instructions {
    margin: 0 0 1rem 0;
    }
    span{
        margin-right: 1rem;
    }
    #beatcontainer{
    grid-template-columns: 9.1rem repeat(4, 3rem);
    grid-template-areas: "keycol col1 col2 col3 col4"
    ". col5 col6 col7 col8"
    ". col9 col10 col11 col12"
    ". col13 col14 col15 col16";
    grid-template-rows: 1fr 1fr;
}
}

@media(max-width: 410px)
{

    #beatcontainer{
    grid-template-columns: 9.1rem repeat(2, 3rem);
    grid-template-areas: "keycol col1 col2"
    ". col3 col4"
    ". col5 col6"
    ". col7 col8"
    ". col9 col10"
    ". col11 col12"
    ". col13 col14"
    ". col15 col16";
    grid-template-rows: 1fr 1fr;
}
#createbeat h2{
font-family: 'Chewy', cursive;
font-size: 2.5rem;
}
#instructions p{
font-size: 1.5rem;
}
nav{
padding-top: 0.2rem;
}
}

/* old beatline design which I would like to work on later when my skills are better
#beatline{
    position: relative;
    border: 1px solid red;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beatstaff{
    width: 100%;
    height: 0.2rem;
    background: #17a900;
}
.beatstaff + .beatstaff {
margin-top: 2rem;
}

.beatsection{
    position: absolute;
    width: 6.25%;
    height: 110%;
    top: 0%;
}

.beatbox{
    width: 100%;
    height: 90%;
    background: #fff;
    opacity: 0;
}

.beatboxcompleted {
    opacity: 1;
}

.beatboxhover {
    width: 100%;
    height: 90%;
    background: #fff;
    border: 2px solid yellow;
    opacity: 0.5;
}

.beatsingledigit{
    position: absolute;
    color:#eaeaea;
    top: 92%;
    left: 35%
}
.beatdoubledigit{
    position: absolute;
    color:#eaeaea;
    top: 92%;
    left: 10%
}

#beat1{
left: 0%;
}

#beat2{
left:6.25%;
}

#beat3{
left:12.5%;
}

#beat4{
left:18.75%;
}

#beat5{
left:25%;
}

#beat6{
left:31.25%;
}

#beat7{
left:37.5%;
}

#beat8{
left:43.75%;
}

#beat9{
left:50%;
}

#beat10{
left:56.25%;
}

#beat11{
left:62.5%;
}

#beat12{
left:68.75%;
}

#beat13{
left:75%;
}

#beat14{
left:81.25%;
}

#beat15{
left:87.5%;
}

#beat16{
left:93.75%;
}
*/
